{"allowBoost":false,"allowBrightness":false,"allowColorDepth":false,"allowContrast":false,"allowHUE":false,"allowModifications":false,"allowOpacity":false,"allowSaturation":false,"blackIsAlpha":false,"boostBlue":12,"boostGreen":129,"boostRed":64,"brightness":-76,"colordepth":4,"contrast":92,"filter":"Nearest","flipX":false,"flipY":false,"format":"Default","gaussian":false,"genMipmaps":false,"grayscale":false,"height":32,"hue":180,"invertColors":false,"maxResolutionID":2,"noise":false,"originalHeight":128,"originalWidth":128,"quality":1,"rotate":"None","saturation":196,"sepia":false,"sharpen":false,"sketch":false,"vignette":false,"width":32,"wrap":"Repeat"}